<style>
  a {
    display: inline-block;
    background-color: darkgrey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }
  a:hover {
    background-color: grey;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
<html>
  <body>
    <a href="/rateSong">Rate</a>
    <a href="/reviewSong">Review</a>
  </body>
</html>
