<!DOCTYPE html>
<html>
  <body>
    <a href="/byArtist">Search By Artist</a>
    <br />
    <a href="/byGenre">Search By Genre</a>
    <br />
    <a href="/byRating">Search By Rating</a>
    <br />
    <a href="/playlist">Playlists</a>
    <!--<form style="text-align: center" action="/searchMusic" method="GET">
      <input type="text" name="info" placeholder="search" required />
      <input type="submit" value="submit" />
      <br>
      <input type="radio" name="searchType">Artist</input>
      <input type="radio" name="searchType">Song</input>
      <input type="radio" name="searchType">Album</input>
    </form>

    {% if searchType == 'Artist' %}
    {%for line in results%}
        <p>{{results.fname}}</p>
        <p>{{results.lname}}</p>
    {% endfor %}
    {%endif%} -->

    <a href="/home">Go Back</a>
  </body>
</html>
